@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* ## Colors */
  /* ### Primary */

  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  /* ### Neutral */

  --Grey500: hsl(234, 12%, 34%);
  --Grey400: hsl(212, 6%, 44%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  background-color: var(--White);
}

main {
  margin: 3.875rem 2rem auto;
}

header {
  font-size: 1.5rem;
  font-weight: 200;
  color: var(--Grey400);
  text-align: center;
}

h1 {
  text-align: center;
}

h1,
h2 {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--Grey500);
}

p.first {
  margin: 1.375rem auto 1.75rem auto;
  max-width: 31.625rem;
  font-size: 0.938rem;
  font-weight: 400;
  text-align: center;
}

div.divisor {
  margin: auto;
  min-width: 19.625rem;
  max-width: 21rem;
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 15.625rem;
  min-width: 19.625rem;
  max-width: 21.875rem;
  margin-top: 2rem;
  padding: 1.4rem 2rem 2.875rem 2rem;
  box-shadow: 2px 20px 20px rgba(0, 0, 0, 0.13);
  border-radius: 0.4rem;
}

p,
article {
  color: var(--Grey400);
}

article > p {
  padding-top: 0.375rem;
  font-size: 0.875rem;
  font-weight: 300;
}

section.supervisor {
  border-top: 0.4rem solid var(--Cyan);
}

section.team-builder {
  border-top: 0.4rem solid var(--Red);
}

section.karma {
  border-top: 0.4rem solid var(--Orange);
}

section.calculator {
  border-top: 0.4rem solid var(--Blue);
}

div {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.attribution { 
    margin-top: 5rem;
    padding: 1rem 0;
    width: 100vw;
    font-size: 1rem; 
    text-align: center; 
    color: var(--Grey400);
}
.attribution a { 
    text-decoration: none;
    font-weight: bold;
    color: hsl(228, 45%, 44%); }

@media screen and (min-width: 1125px) {
  p.first {
    margin: 1.375rem auto 3rem auto;
  }

  div.divisor {
    display: grid;
    height: 33.25rem;
    max-width: 69.625rem;
    flex-wrap: nowrap;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    justify-content: space-between;
  }

  section.supervisor {
    grid-area: 2 / 1 / 4 / 2;
  }

  section.team-builder {
    grid-area: 1 / 2 / 3 / 3;
  }

  section.karma {
    grid-area: 3 / 2 / 5 / 3;
  }

  section.calculator {
    grid-area: 2 / 3 / 4 / 4;
  }
}
